<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <title>Đặt mật khẩu mới - ANACOM</title>
  </head>
  <body class="hero is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1>Đặt mật khẩu mới - ANACOM</h1>
        <form action="" method="post">
          {{ form.hidden_tag() }}
          <p style="color: white"></p>
          <p class="mb-3">
            Vui lòng nhập mật khẩu mới<br /> 
          </p>
            {{ form.password(size=50) }}<br />
            <p class="mb-3">
              Vui lòng nhập lại mật khẩu mới<br /> 
            </p>
              {{ form.password2(size=50) }}<br />

            {% for error in form.password2.errors %}
            <span style="color: red">[Mật khẩu nhập lại không trùng khớp.]</span>
            {% endfor %}
          </p>
          <p class="fs-5">{{ form.submit }}</p>
      </div>
    </div>
  </body>
</html>
